.about-page{
    background-image: linear-gradient(to right, #1d1e22ec, #1d1e22ec,#1d1e22ec);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}
/* .about-page h1{
    color: #E7DFDDE7;
    padding: 3% 0% 0% 5%;
    float: left;
    font-weight: 450;
    font-size: 60px;
    animation: head_anim;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 0.8 ease-out;
}
.about-page h1 > span{
    color: #feda6a;
}
.about-page section[class="description"]{
    width: 45%;
    margin: 3% 5%;
    float: left;
    animation-name: section_anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.about-page section hr{
    background-color: #E7DFDDE7;
    height: 2px;
    width: 15%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.about-page a[id="cvBtn"]{
    float: left;
    margin: 30px 0px;
    animation-name: cv_anim;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.about-page main{
    height: 90vh;
    max-width: 90vw;
    float: left;
}
.about-page #photo{
    float: right;
    width: 45%;
    text-align: center;
    animation-name: photo_anim;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 1s;
}
.about-page #photo img{
    width: 350px;
    height: 350px;
    border-radius: 350px;
}
.about-page section > h3{
    color: #E7DFDDE7;
    font-weight: 200;
    font-size: 18px;
}
.about-page section > p{
    color: #E7DFDDE7;
    line-height: 25px;
    text-align: justify;
} */

@keyframes section_anim{
    from{ transform: translateY(-200px) }
    to{ transform: translateY(0px) }
}
@keyframes cv_anim{
    from{opacity: 0;transform: translateY(0px);}
    to{opacity:1;transform: translateY(0px);}
}
@keyframes head_anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes photo_anim{
    from{opacity: 0;transform: translateX(220px);}
    to{opacity:1;transform: translateX(0px);}
}