.home-page{
    max-height: 100vh;
    flex-grow: 100;
    border: 1px solid red;
}
/* .home-page section{
    text-align: center;
    padding: 13% 0px;
}
.home-page p > span{
    font-weight: 900;
    color:  #feda6a;
}
.home-page i{
    padding-left: 15px;
    font-weight: 500;
    float: right;
    font-size: 1rem;
}
.home-page p{
    color: #E7DFDD;
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-page h1, .home-page .myname, .home-page .specs{
    width: 50%;
    display: inline-block;
}
.home-page h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color:  #feda6a;
    animation-name: head_anim;
    animation-duration: 1.3s;
    animation-fill-mode: forwards; 
}
a[id="cvBtn"]{
    background-color: #feda6a;
    padding: 8px 10px;
    float: right;
    font-weight: 500;
    margin: 10px;
    line-height: 15px;
    animation-name: cvBtn_anim;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-decoration: none;
    color: #151518e7;
}
.specs{
    animation-name: p_anim;
    animation-duration: 0.8s;
    opacity: 0;
    transition: ease-out;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}
.home-page .myname{
    font-size: 4rem;
    animation: name_anim;
    animation-duration: 1s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 0.8 ease-out;
} */
/* Keyframe animation for home-page */
@keyframes head_anim{
    from{ transform: translateY(-100px) }
    to{ transform: translateY(0px) }
}
@keyframes p_anim{
    from{ opacity: 0;transform: translateY(80px); }
    to{ opacity:1;transform: translateY(0px); }
}
@keyframes cvBtn_anim{
    from{opacity: 0;transform: translateX(200px);}
    to{opacity:1;transform: translateX(0px);}
}
@keyframes name_anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}