@import url(../css/css/font-awesome.min.css);
.panel{
    max-height: 100vh;
    flex-grow: 1;
    min-width: 5%;
    border: 1px solid #E7DFDDE7;
    background-color: #1d1e22;
}
.panel ul li{
    padding: 10px 0px;
    list-style: none;
    cursor: pointer;
    border: 1px solid green;
    color: #E7DFDDE7;
    margin: 4px;
    text-align: center;
    font-size: 13px;
}
.panel nav{
    margin-top: 20px;
}
.panel ul li:hover{
    color:  #feda6a;
    border: 1px solid red;
    transition: ease-in;
    transition-duration: 0.5s;
}
.panel .social-icons{
    /* float: left; */
    border: 1px solid red;
}
.panel .social-icons a{
    display: block;
    border: 1px solid blue;
    text-decoration: none;
    color: #95A5A6;
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    margin: 5px 0px;
}
.panel .social-icons a:hover{
    color:  #feda6a;
}
.panel .logo{
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 65px;
    margin: 10px 0px 0px 5px;
}
@media screen and (max-width: 800px){
    .panel{
        /* display: flex; */
        min-width: 100%;
        height: 50px;
    }
    .panel nav{
        border: 1px solid tomato;
        height: 100%;
    }
    .panel li{
        color: white;
        display: block;
        border: 1px solid white;
        padding: 5px;
    }
}