.tabs-layout{
    text-align: center;
    margin: 20px auto;
}
.tabs-layout button{
    letter-spacing: 1px;
    padding: 10px 15px;
    color: #E7DFDDE7;
    font-size: 12px;
    background-color: #00000095;
    font-weight: 500;
    /* border: 1px solid red; */
}
.active{
    border: 1px solid #E7DFDDE7;
    border-bottom: 2px solid #feda6a;
}
.tabs-layout button:focus{
    outline: 0px;
}