body{
  background-image: url(./imgs/program-laptop-screen-computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  max-width: 100%;
  border: 1px solid black;
}
*{
  border: 0px solid;
  margin: 0px;
  padding: 0px;
}